.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    border-bottom: 3px solid #333;

    padding: 20px;
    margin: 0;
}

.active {
    text-decoration: underline;
}